DCR - obligation on oauth client to use a specific format for tls_client_auth_subject_dn

Whilst there is an obligation on the Authorisation Server to support a specific format of the tls_client_auth_subject_dn, there is no corresponding provion on the oauth client to use that mechanism for the creation of this value.

Section 7 of Brazil DCR needs a client provision section created with the following text.

if required, shall calculate `tls_client_auth_subject_dn` by using x.500 AttributeType name strings defined in the Distinguished Name of the x.509 Certificate Profiles defined in Open Banking Brasil x.509 Certificate Standards;

And an appendix example created with a PEM and a corresponding value.



We will include it at Security WG agenda and keep it updated.


I leave as a suggestion use **[RFC 2253](https://datatracker.ietf.org/doc/html/rfc2253)**, to deal with how to read the client certificate subj and convert this as a String to be used in the DCR body.


> I leave as a suggestion use **[RFC 2253](https://datatracker.ietf.org/doc/html/rfc2253)**, to deal with how to read the client certificate subj and convert this as a String to be used in the DCR body.

**[RFC 2253](https://datatracker.ietf.org/doc/html/rfc2253)** is obsoleted by [RFC 4514](https://datatracker.ietf.org/doc/html/rfc4514)

Hello guys.

This attribute `tls_client_auth_subject_dn` is not required by DCR RFC7591, right? It is used as part of oAuth2 process when using MTLS (as RFC 8705), right? The main problem is the way AS decode a certificate subject DN (it have to follow RFC4514, but could use long or short names etc), right? On OBB, the registration endpoint is protected by MTLS (the client shall use the same transport certification presented at transport.jwks), so as it (AS) has the client certificate (received at SSL level) it could check with software_transport_uri value (signed by directory), decode it as "AS wants" and include the decoded subject_dn string on registration response, doesn't it? The TTP/client shall keep this information (as it have to keep client_is/client_secret) and use it for auth purpose as defined at RFC8705...

Did I miss something here? Is there any security related issue or any protocol violation (RFC7591)?

Best regards

@ginglass - yes it is required as part of MTLS https://datatracker.ietf.org/doc/html/rfc8705#section-2.1.2
The rest of your points are exactly spot on. Brazil requires that DCR is performed over a mutual TLS channel. Banks therefor should be making sure that they are confident that the MTLS channel is authenticated by the owner of the software statement. This property when used over DCR is nearly entirely superfluous... nearly. 

In terms of format, the Security WG have defined the examples in bellow:

- Start backwards, the order is reversed from what is entered. 
- Append each RDN (RelativeDistinguishedName) segment with a comma ‘,’ 
- Use RFC Strings (CN, L, ST, O, OU, C, Street, DC, UID) + OBB Certificate Specs (businessCategory, jurisdictionCountryName , serialNumber)

Exemples: 
subject_dn | Issuer
-- | --
UID=a12edd5f-66c3-4ae3-bb82-5ac0da1c0b1a,jurisdictionCountryName=BR,businessCategory=Private      Organization,serialNumber=60701190000104,CN=*.opf.api.itau,OU=9c721898-9ce0-50f1-bf85-05075557850b,O=ITAU   UNIBANCO S.A.,L=SAO PAULO,ST=SP,C=BR | issuer=CN=Open Banking SANDBOX Issuing CA   - G1,OU=Open Banking,O=Open   Banking Brasil,C=BR
UID=d07cc967-abcd-4c35-942c-8e957e9e0ea4,   jurisdictionCountryName=BR,businessCategory=Business Entity,CN=consentimento.openbanking.caixa.gov.br,serialNumber=00360305000104,OU=c160a6f5-e5df-5067-9e97-ec6fba62fd87,O=CAIXA   ECONOMICA FEDERAL,L=BRASILIA,ST=DF,C=BR | issuer=CN=Autoridade Certificadora do SERPRO SSLv1,OU=Autoridade   Certificadora Raiz Brasileira v10,O=ICP-Brasil,C=BR
jurisdictionCountryName=BR,businessCategory=Private   Organization,UID=c01a9251-2e02-46ae-a777-e014601dd60a,CN=openbanking.acsoluti.com.br,serialNumber=09461647000195,OU=de2f3928-f03b-4ada-bdfb-a847a9687763,L=Goiania,ST=GO,O=SOLUTI   - SOLUCOES EM NEGOCIOS INTELIGENTES S/A,C=BR | issuer=CN=AC SOLUTI SSL EV,OU=Autoridade   Certificadora Raiz Brasileira v10,O=ICP-Brasil,C=BR
CN=oauth2.opf.itau,UID=793c382e-edb1-4a64-b5c5-9e27366099b9,OU=9c721898-9ce0-50f1-bf85-05075557850b,L=Sao   Paulo,ST=SP,O=Itau   Unibanco SA,C=BR,serialNumber=60701190000104,   jurisdictionCountryName=BR,businessCategory=Private   Organization | issuer=CN=AC SERASA SSL EV,OU=Autoridade   Certificadora Raiz Brasileira v10,O=ICP-Brasil,C=BR

It's will be published into specs and FAQ.

Remember if you mandate aspsp’s validate this field on a continuous basis, or if aspsp’s use this field on a continuous basis to check for a match for a transport certificate then you’ll have significant challenges for TPPs when it comes to renewals.

Trying to rely on the exact match every time really will cause long term issues. Banks need to understand what the identifiers are and then confirm that the appropriate identifiers are present however they choose to do so.

Banks should be encouraged to think about the user journey if a TPP wants to change certificate supplier. 

@alexandre-stockhausen os documentos de DCR já foram atualizados e estão aderentes aos testes de DCR. Qualquer dificuldade por favor direcionar o problema via Squad de Operação Fase 2/3 através da sua associação.